<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392437002762-fh97n4c80lfdquecie9g8hvf7h8838kr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392437002762-fh97n4c80lfdquecie9g8hvf7h8838kr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>392437002762-qmhe1j0d8tvvna6lhb1cn1mdaehhdihe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJFIQy3ni1MAYV419pZwkaTLjZkyG3uxg</string>
	<key>GCM_SENDER_ID</key>
	<string>392437002762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dicuciin2</string>
	<key>PROJECT_ID</key>
	<string>dicuciin-mobile-apps</string>
	<key>STORAGE_BUCKET</key>
	<string>dicuciin-mobile-apps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392437002762:ios:04d050d07010faec76e5f3</string>
</dict>
</plist>